// Fonts
@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@300;400;700&family=Jost:wght@200;400&family=Shadows+Into+Light+Two&display=swap');
// font-family: 'Cairo Play', cursive;
// font-family: 'Jost', sans-serif;
// font-family: 'Shadows Into Light Two', cursive;

// CSS Reset, courtesy of Josh W. Comeau https://www.joshwcomeau.com/css/custom-css-reset/
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

// Styling
* {
  background-color: black;
  color: whitesmoke;
  font-family: 'Jost';
  font-size: 20px;

  h2 {
    font-size: 24px;
  }
}

body {

  header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 15%;
    display: flex;
    flex-direction: row;

    .logo {
      margin: auto 40px;
      font-family: 'Shadows Into Light Two';
      font-size: 48px;
      font-weight: 900;
      color: greenyellow;
    }
  }

  a.anchor {
    display: block;
    position: relative;
    top: -100%;
    visibility: hidden;
  }

  main {
    display: flex;
    flex-direction: column;
    margin: 8% 15px 15px 15px;

    // a.anchor {
    //   display: block;
    //   position: relative;
    //   top: 100%;
    //   visibility: hidden;
    // }

    section {
      margin:15px 17% 15px 7%;
      
      p {
        margin-left: 15px;
      }
    }
  }


    // Navbar
  .navbar {
    align-self: flex-end;
    width: 15%;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 15%;
      height: 100%;
      position: fixed;
      overflow:auto;
  
      li a {
        display: block;
        width: 60px;
        margin: 25px auto;
        text-align: center;
        text-decoration: none;
      }
  
      /* Change the link color on hover */
      li a:hover {
        color: magenta;
      }
    }
  }


  // Font Sampling - temp for dev only
  .font-test {
    font-size: 28px;

    #cairo-play {
      font-family: 'Cairo Play';
    }
    #jost {
      font-family: 'Jost';
    }
    #shadows-into-light {
      font-family: 'Shadows Into Light Two';
    }
  }
}

// Footer
footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  font-family: 'Cairo Play';
  font-size: 14px;

  a {
    font-family: 'Cairo Play';
    font-size: 14px;
  }
}
